/* 폰트 스타일 정의 */
@font-face {
  font-family: 'Taebaek';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'Dosfont';
  font-style: normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

.container, .h1, .p, .btn1, .btn2, .btn3 {
  font-family: 'Dosfont', sans-serif;
}

/* 전체 컨테이너 스타일 */
.container {
  text-align: center;
  margin-top: 50px;
}

/* 제목 스타일 */
.h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333; /* 원하는 색상으로 변경 가능 */
}

/* 문단 스타일 */
.p {
  font-size: 18px;
  color: #666; /* 원하는 색상으로 변경 가능 */
  margin-bottom: 20px;
}

/* 버튼 스타일 */
.btn1, .btn2, .btn3 {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff; /* 텍스트 색상 */
  background-color: #007bff; /* 배경색상 */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* 버튼 호버 효과 */
.btn1:hover, .btn2:hover, .btn3:hover {
  background-color: #0056b3; /* 호버시 변경할 배경색상 */
}
